<h2>Borrowing Details</h2>
<p>
    {{getUser().name}}: {{getUser().email}}
</p>
<br/>

<section *ngIf="isAdmin()">
    <h3>List of users</h3>
    <div *ngFor="let user of users">
        <div *ngIf="!isAdmin(user.email)">
            <hr>
            <h3>{{user.email}}</h3>
            <p *ngFor="let borrow of user.currentBorrows">
                Borrowing Date: <strong>{{ borrow.date | date }}</strong>
                <button (click)="sendMessages(user.email, borrow)">Message</button>
                <app-book-view [id]="borrow.id"></app-book-view>
            </p>
        </div>
    </div>
</section>

<section *ngIf="!isAdmin()">
    <h3>Current Borrowing</h3><hr>
    <div *ngFor="let borrow of getUser().currentBorrows">
        Borrowing Date: <strong>{{ borrow.date | date }}</strong>
        <button (click)="returnBook(borrow.id)">Return</button>
        <div class="message" *ngIf="borrow.message">
            Librarian: {{ borrow.message }}
        </div>
        <app-book-view [id]="borrow.id"></app-book-view>
    </div>
    <h3>Borrowing History</h3><hr>
    <div *ngFor="let borrow of getUser().historyBorrows">
        Borrowing Date: <strong>{{ borrow.date | date }}</strong>
        <app-book-view [id]="borrow.id"></app-book-view>
    </div>
</section>