/* BookDetailComponent's private CSS styles */

label {
  color: #435960;
  font-weight: bold;
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

div {
  margin-bottom: 1%;
}

input {
  font-size: 1em;
  padding: .5rem;
  margin-top: 1%;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #42545C;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.title {
  color: #369;
}

section {
  display: inline-block;
  margin: 1%;
  vertical-align: top;
}