<div *ngIf="auth.user | async">
  <app-dashboard></app-dashboard>
</div>
  
<div *ngIf="!(auth.user | async)">
  <div class="center">
    <img class="picture" src="../assets/icons/ic-login.png">
    <form class="form" [formGroup]="form">
      <div>
        <input class="input-text" type="text" formControlName="email" placeholder="username or email">
      </div>
      <div>
        <input class="input-text" type="password" formControlName="password" placeholder="password">
      </div>
      <div>
        <button type="submit" (click)="signIn()">Login</button>
      </div>
    </form>
    <small (click)="signUp()">Forgot your password? Or create a new user?</small>
  </div>
  <div class="hint">
    <table>
      <thead>
        <tr>
          <th>Test Account</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>User</td>
          <td>user&#64;example.com</td>
          <td>123456</td>
        </tr>
        <tr>
          <td>Admin</td>
          <td>admin&#64;example.com</td>
          <td>admin&#64;example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>